<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoAppweb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoAppweb.styles.css" asp-append-version="true" />
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f9f9f9;
            color: #333;
            padding: 20px;
        }

        .navbar-nav {
            display: flex;
            list-style: none;
            padding: 0;
        }

        .nav-item {
            display: inline-block;
            margin-right:50px;
        }

        .nav-link {
            display: inline-block;
            padding: 15px 30px;
            border: 2px solid #fff;
            border-radius: 15px;
            margin-right: 20px;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            margin-bottom: 10px;
            width: 120px;
        }

            .nav-link:hover {
                opacity: 0.8;
            }

        .nav-item:nth-child(1) .nav-link {
            background-color: #ff6f61; /* Color anaranjado */
        }

        .nav-item:nth-child(2) .nav-link {
            background-color: #45aaf2; /* Color azul */
        }

        .nav-item:nth-child(3) .nav-link {
            background-color: #a77dc2; /* Color morado */
        }

        .nav-item:nth-child(4) .nav-link {
            background-color: #f5e663; /* Color amarillo */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inicio" asp-action="Inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Skills" asp-action="Skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Proyectos" asp-action="Proyectos">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contactos" asp-action="Contactos">Contactos</a>
                        </li>
                        
                        <li class="nav-item" id="d">
                            <a class="nav-link" href="/Video" ">Api</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
