<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h2 {
            text-align: center;
            margin-top: 40px;
            color: #333;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
        }

        .skill {
            width: 200px;
            height: 250px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin: 20px;
            padding: 20px;
            text-align: center;
        }

            .skill img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-top: 20px;
            }

            .skill h3 {
                margin-top: 10px;
                color: #555;
            }

            .skill p {
                margin-top: 10px;
                color: #777;
            }
    </style>
    <title>Mis Habilidades</title>
</head>
<body>
    <h2>Lenguajes</h2>
    <div class="container">
        <div class="skill">
            <img src="~/css/imagen/html.png" />
            <h3>HTML</h3>
            <p>Muy bien dominado</p>
        </div>

        <div class="skill">
            <img src="~/css/imagen/javascript(1).png" />
            <h3>JavaScript</h3>
            <p>Muy poco dominado</p>
        </div>
        <div class="skill">
            <img src="~/css/imagen/images2.png" />
            <h3>C#.Net Framework</h3>
            <p>Muy poco dominado</p>
        </div>

        
    </div>

    <h2>Librerías/Herramientas</h2>
    <div class="container">
        <div class="skill">
            
            <img src="~/css/imagen/github(1).png" />
            <h3>GitHub</h3>
            <p>Bien Dominado</p>
        </div>

        <div class="skill">
            <img src="~/css/imagen/sql.jpg" />
            <h3>SQL Server</h3>
            <p>Algo Dominado</p>
        </div>

        <div class="skill">
            <img src="~/css/imagen/css.png" />
            <h3>CSS</h3>
            <p>Bien Dominado</p>
        </div>

        <div class="skill">
            <img src="~/css/imagen/bootstrap.png" />
            <h3>BootStrap</h3>
            <p>Muy Poco Dominado</p>
        </div>
    </div>
</body>
</html>
